<%- include('homehead') %>
<body>
	<div class="header">
		<div class="headerGroup">
			<img src="/images/favicon-white.png" alt="logo">
			<h1>Secret Group</h1>
		</div>
		<div class="user-opt">
			<ul>
				<li>
				 <a href="/user">User</a> </li>
				<li><a href="/log-out">Log-Out</a></li>
			</ul>
		</div>
	</div>
	<div class="container-chat">
		<%if(typeof errors != 'undefined'){%>
			<div class="create-post-modal modal on ">
				<div class="modalContainer">
					<h1>Create Post</h1>
					<form action="/add-post" method="POST">
						<label for="title">
							Title
						</label>
						<input type="text" name="title"></input>
						<label for="content">
							Content
						</label>
						<textarea rows="6.5" cols="19"></textarea>
						<button class="submitbtn" type="submit">Submit</button>
					</form>
					<div class="errors">
						<% if (typeof errors != 'undefined') {%>
							<ul>
								<% errors.forEach((error) => { %>
									<li>
										<%= error.msg %>
									</li>
								<%})%>
							</ul>
						<% } %>
					</div>
				</div>
			</div>
		<%} else {%>
			<div class="create-post-modal modal">
				<div class="modalContainer">
					<h1>Create Post</h1>
					<form action="/add-post" method="POST">
						<label for="title">
							Title
						</label>
						<input type="text" name="title"></input>
						<label for="content">
							Content
						</label>
						<textarea rows="6.5" cols="19" name="content"></textarea>
						<button class="submitbtn" type="submit">Submit</button>
					</form>
					<div class="errors">
						<% if (typeof errors != 'undefined') {%>
							<ul>
								<% errors.forEach((error) => { %>
									<li>
										<%= error.msg %>
									</li>
								<%})%>
							</ul>
						<% } %>
					</div>
				</div>
			</div>
		<%}%>
		<div class="wrapper">
			<img src="/images/masquerade.png">
			<h1 class="header-chat">Anonymous Posting</h1>
			<button class="modalbtn create-post addPost">+</button>
			<% messages.forEach((msg) => { %>
				<div class="chatPost">
					<h1><%=msg.title%></h1>
					<p><%=msg.content%></p>
					<div class="userPost">
						<p><em>Posted on: <%=msg.formatted_date_posted%></em></p>
						<p><b>-<%=msg.user.username%></b></p>
					</div>
					<%if (1) {%>
					<form action="delete-post" method="POST">
						<input type="hidden" name="postid" value=<%=msg._id%>>
						<button class="delbtn">Delete</button>
					</form>
					<%}%>
				</div>
			<%})%>
		</div>
	</div>
</body>